.btn {
  min-width: 160px;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    color: currentColor;
    .link-icon {
      margin-left: 8px;
    }
  }

  &.color-bg-black {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

.btn-round {
  border-radius: 30px !important;
}

.link-icon {
  width: 26px;
  display: inline-block;
  margin-left: 0;
  transition: all 0.25s ease;
}

.cta {
  color: #21b8d3;

  &:hover {
    color: white;
    text-decoration: none;

    .link-icon {
      margin-left: 8px;
    }
  }

  &.color-black {
    color: $black;

    &:hover {
      color: lighten($color: $black, $amount: 10%);
    }
  }
}
