.card-half-image {
  margin: auto;
  background-color: white;

  .c-card-half-image {
    // padding: 20px;
  }

  .content {
    padding: 20px;

    @include media-breakpoint-up(md) {
      padding: 20px;
    }
  }
}

.image-placeholder {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    padding-bottom: 75%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
