// Color Palette
$navy: #01316f !default;
$navy-alt: #0242a6 !default;
$coral: #ffc2c2 !default;
$sunset: #ffb421 !default;
$light-gray: #f6f4f2 !default;
$gray-custom: #3c4045;
$smoke: #ededed !default;
$black: #0e0f1e;
$black-alt: #313538;
$gold: #e6b31e !default;
$red: #f64e4d !default;
$purple: #7140eb !default;
$light-blue: #dbedf3 !default;
$neon-green: #1eb955 !default;
// $neon-green: #47e090 !default;
$neon-blue: #21b8d3 !default;
$neon-blue-alt: #0070f3 !default;
$neon-neon-pink: #ff2d81 !default;
$white: #ffffff !default;
$white-alt: #f5f5f5 !default;
$natural: #fcf3ec !default;
$hotpink: rgb(255, 105, 180) !default;

$colors: () !default;
$colors: map-merge(
  (
    "navy": $navy,
    "navy-alt": $navy-alt,
    "coral": $coral,
    "sunset": $sunset,
    "light-gray": $light-gray,
    "gray": $gray-custom,
    "black": $black,
    "black-alt": $black-alt,
    "gold": $gold,
    "red": $red,
    "light-blue": $light-blue,
    "neon-green": $neon-green,
    "neon-blue": $neon-blue,
    "primary": $neon-green,
    "secondary": $neon-blue,
    "accent": $gold,
    "white": $white,
    "white-alt": $white-alt,
    "neutral": $natural,
    "hotpink": $hotpink
  ),
  $colors
);

@mixin color-bg {
  @each $name, $hex in $colors {
    &-#{$name} {
      background-color: $hex !important;
    }
  }
} // @mixin bg-colors

@mixin color {
  @each $name, $hex in $colors {
    &-#{$name} {
      color: $hex !important;
    }
  }
} // @mixin colors

.color-bg {
  // This creates .color-bg-name classes for everything in the $colors map. example: .color-bg-red
  @include color-bg;
} // .color-bg

.color {
  // This creates .color-name classes for everything in the $colors map.  example: .color-red
  @include color;
} // .color
