.color-navy {
  color: #283149;
}
.color-bg-navy {
  background-color: #283149;
}
.color-coral {
  color: #ffc2c2;
}
.color-bg-coral {
  background-color: #ffc2c2;
}
.color-sunset {
  color: #ffb421;
}
.color-bg-sunset {
  background-color: #ffb421;
}
.color-light-gray {
  color: #f6f4f2;
}
.color-bg-light-gray {
  background-color: #f6f4f2;
}
.color-white {
  color: white;
}
.color-bg-white {
  background-color: white;
}
.color-black {
  color: #0e0f1e;
}
.color-bg-black {
  background-color: #0e0f1e;
}
.color-gold {
  color: #e6b31e;
}
.color-bg-gold {
  background-color: #e6b31e;
}
.color-red {
  color: #f64e4d;
}
.color-bg-red {
  background-color: #f64e4d;
}
.color-light-blue {
  color: #dbedf3;
}
.color-bg-light-blue {
  background-color: #dbedf3;
}
.color-neon-green {
  color: #47e090;
}
.color-bg-neon-green {
  background-color: #47e090;
}
.color-neon-blue {
  color: #21b8d3;
}
.color-bg-neon-blue {
  background-color: #21b8d3;
}
