.font-abril {
    font-family: 'Abril Fatface', cursive; 
}
.font-alata {
    font-family: 'Alata', sans-serif;
}
.font-josefin {
    font-family: 'Josefin Sans', sans-serif;
}
.font-marker {
    font-family: 'Permanent Marker', cursive;
}
.font-rozha {
    font-family: 'Rozha One', serif;
}