.title {
  font-size: 2em;
  line-height: 1;

  &.jumbo {
    font-size: 3em;
  }
}
.sub-title {
  font-size: 1.5em;
  line-height: 1em;
}

.line-height-tight {
  line-height: 1.25;
}

.gradient-text {
  // Gradient text CSS
  background: linear-gradient(to right, #ff8a00 0%, #da1b60 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-text-pink {
  // Gradient text CSS

  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-pink {
  // Gradient text CSS

  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7) !important;
}

.accent-line {
  &-right::after {
    content: " ";
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: currentColor;
    vertical-align: middle;
    margin-left: 10px;
  }

  &-bottom::after {
    content: " ";
    display: block;
    width: 14%;
    height: 4px;
    background-color: currentColor;
    vertical-align: middle;
    margin-top: 10px;
  }
}
