.is-fullheight {
  min-height: 100vh;
  background-color: transparent;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  position: relative;
}

.bg-position-top {
  background-position: top center !important;
}

.bg-position-bottom {
  background-position: bottom center !important;
}

.bg-position-center {
  background-position: center center !important;
}

@include media-breakpoint-down(sm) {
  .isFullheight {
    background-image: none;
  }
}

.border-right {
  border-right: 1px solid rgba(255, 105, 180, 1) !important;
}
.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
}

.border-top {
  // border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-top: 1px solid rgba(255, 105, 180, 1) !important;
}
.border-left-pink {
  // border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-left: 3px solid rgba(255, 105, 180, 1) !important;
}
.border-left-red {
  // border-top: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-left: 3px solid $red !important;
}

.spacer {
  display: block;
  clear: both;
  width: 100%;
  margin: 40px 0;
}

.is-card {
  background-color: #0d1c2e;
  padding: 20px;
  border-radius: 10px;
}

.has-shadow {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.is-rounded {
  border-radius: 10px;
}

.grid-item-center {
  display: grid;
  place-items: center;
}

.grid-half {
  display: flex;
  flex-direction: column;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.grid-three {
  height: auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-direction: column;

    .border-right {
      border-right: 0 !important;
    }
  }
}

.grid-gap-1 {
  grid-gap: 1rem !important;
}
.grid-gap-0 {
  grid-gap: 0 !important;
}
.grid-gap-3 {
  grid-gap: 3rem !important;
}

.grid-sidebar {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
}

.margin-auto {
  margin: auto;
}

.py-sm-4 {
  @include media-breakpoint-down(sm) {
    padding: 1rem 0;
  }
}

// Height
// v-100 is bootstrap height: 100%
// Custom
.h-200 {
  min-height: 200px !important;
}
.h-300 {
  min-height: 300px !important;
}
.h-400 {
  min-height: 400px !important;
}
.h-500 {
  min-height: 500px !important;
}
.h-600 {
  min-height: 600px !important;
}
