@import "sass/custom-vars";
@import "sass/colors";
@import "sass/fonts";
@import "sass/typography";
@import "sass/utility";
@import "sass/hero";
@import "sass/buttons";
@import "sass/hello-card";
@import "sass/footer";
@import "sass/nuxt-content";
@import "sass/card-half-image";
@import "sass/tu-card";
@import "sass/flickity";
@import "sass/mobile-menu";
@import "sass/tables";

html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: $navy-alt !important;
  background-color: $natural !important;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
}

a {
  color: currentColor;

  &:hover {
    color: currentColor;
    text-decoration: none;
  }
}

.navbar-layout a {
  color: $navy;
  padding-top: 0;
  padding-bottom: 0;

  &:hover {
    color: $navy;
  }
}

.font-container {
  margin: 40px 0;
  border-left: 1px solid white;
  padding-left: 20px;
}

.color-block {
  display: block;
  width: 100px;
  height: 100px;
  border: 4px solid white;
  flex: 0 1 100px;
  margin-right: 1em;
  border-radius: 10px;
}

.logo {
  &--small {
    width: 78px;
  }
}

.container__menu {
  display: flex;

  ul.nav {
    margin: auto;

    li a {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
